spring:
  application:
    name: taskflow-backend
  datasource:
    url: jdbc:postgresql://db.wrfuyaytjxhsubuiefvh.supabase.co:5432/postgres
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: ${JWT_SECRET:eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndyZnV5YXl0anhoc3VidWllZnZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk1MjU1NjUsImV4cCI6MjA4NTEwMTU2NX0.Av6aGgDdls-0ibawY2wFFibzxGpIK6GshiBqgDahHoA}
  expiration: 86400000 # 24h
